/* #region 清除默认边距 */
*{
    margin: 0;
    padding: 0;
}
/* #endregion */

/* #region 网页背景*/
body{
    background-color: #3b3b3b;
}
/* #endregion */

/* #region 语言条部分 */

/* 语言部分样式 */
.language{
    width: 100%;
    height: 36px;
    background-color: #1E1E1E;
}

/* 语言下的li标签 */

.language>ul{
    float: right;
    margin-right: 10px;
}

.language>ul>li{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 25px;
    list-style:none;
    margin-top: 3px;
}

/* .language>ul>li:nth-of-type(1){
    background: url(../images/tradition_chinese.png);
} */

.language>ul>li:nth-of-type(1):hover{
    background: url(../images/tradition_chinese_hover.png);
}

/* .language>ul>li:nth-of-type(2){
    background: url(../images/simplified_chinese.png);
} */

.language>ul>li:nth-of-type(2):hover{
    background: url(../images/simplified_chinese_hover.png);
}
/* #endregion */

/* #region 导航条 */
/* 导航条样式 */
.nav{
    width: 100%;
    height: 75px;
    background-color:#F5C518;
}

/* 清楚a标签默认样式 */

a{
    text-decoration: none;
    color: white;
}
/* #endregion */

/* #region导航条部分 */

.nav>ulp{
    margin-left: 1000px;
    
}

.nav>ulp>li{
    width: 36px;
    height: 75px;
    float: left;
    list-style: none;
    margin-left: 40px;
    margin-top: 0px;

}

.nav>ulp>li:nth-of-type(1){
    background: url(../images/first1.png);
}

.nav>ulp>li:nth-of-type(2){
    background: url(../images/first2.png);
}

.nav>ulp li:nth-child(2){
    transform: translate(-20px);
}

.nav>ul{
    margin-left: 500px;
}

.nav>ul>li{
    height: 75px;
    padding: 0 50px;
    float: left;
    list-style: none;
}

.nav>ul>li>a{
    color: #000000;
    line-height: 35px;
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.nav>ul li:nth-child(1){
    transform: translate(-260px);
}

.nav>ul>li>a:nth-of-type(1):hover{
    color:#FFFFF9;
}

.nav>ul li:nth-child(2){
    transform: translate(-145px);
}

.nav>ul>li>a:nth-of-type(2):hover{
    color:#FFFFF9;
}

.nav>ul li:nth-child(3){
    transform: translate(-30px);
}

.nav>ul>li>a:nth-of-type(3):hover{
    color:#FFFFF9;
}
/* #endregion */

/* #region 版心部分*/
.banner{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 70px;
}

/* #region 1 */
.banner>.q1{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q1>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q1>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q1>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q1>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q1>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_1.png);
}

.banner>.q1>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q1>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q1>.right>.title>ul{
    text-align:center;
}

.banner>.q1>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q1>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q1>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q1>.right>.box>ul{
    text-align:center;
}

.banner>.q1>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 20px;
}
/* #endregion */

/* #region 2 */
.banner>.q2{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q2>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q2>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q2>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q2>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q2>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_2.png);
}

.banner>.q2>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q2>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q2>.right>.title>ul{
    text-align:center;
}

.banner>.q2>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q2>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q2>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q2>.right>.box>ul{
    text-align:center;
}

.banner>.q2>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 20px;
}
/* #endregion */
 
/* #region 3 */
.banner>.q3{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q3>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q3>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q3>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q3>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q3>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_3.png);
}

.banner>.q3>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q3>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q3>.right>.title>ul{
    text-align:center;
}

.banner>.q3>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q3>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q3>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q3>.right>.box>ul{
    text-align:center;
}

.banner>.q3>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 20px;
}
/* #endregion */
 
/* #region 4 */
.banner>.q4{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q4>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q4>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q4>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q4>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q4>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_4.png);
}

.banner>.q4>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q4>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q4>.right>.title>ul{
    text-align:center;
}

.banner>.q4>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q4>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q4>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q4>.right>.box>ul{
    text-align:center;
}

.banner>.q4>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 20px;
}
/* #endregion */

/* #region 5 */
.banner>.q5{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q5>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q5>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q5>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q5>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q5>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_5.png);
}

.banner>.q5>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q5>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q5>.right>.title>ul{
    text-align:center;
}

.banner>.q5>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q5>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q5>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q5>.right>.box>ul{
    text-align:center;
}

.banner>.q5>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 20px;
}
/* #endregion */

/* #region 6 */
.banner>.q6{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q6>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q6>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q6>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q6>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q6>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_6.png);
}

.banner>.q6>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q6>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q6>.right>.title>ul{
    text-align:center;
}

.banner>.q6>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q6>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q6>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q6>.right>.box>ul{
    text-align:center;
}

.banner>.q6>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 5px;
}
/* #endregion */

/* #region 7 */
.banner>.q7{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q7>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q7>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q7>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q7>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q7>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_7.png);
}

.banner>.q7>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q7>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q7>.right>.title>ul{
    text-align:center;
}

.banner>.q7>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q7>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q7>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q7>.right>.box>ul{
    text-align:center;
}

.banner>.q7>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 40px;
}
/* #endregion */

/* #region 8 */
.banner>.q8{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q8>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q8>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q8>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q8>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q8>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_8.png);
}

.banner>.q8>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q8>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q8>.right>.title>ul{
    text-align:center;
}

.banner>.q8>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q8>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q8>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q8>.right>.box>ul{
    text-align:center;
}

.banner>.q8>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 20px;
}
/* #endregion */

/* #region 9 */
.banner>.q9{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q9>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q9>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q9>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q9>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q9>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_9.png);
}

.banner>.q9>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q9>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q9>.right>.title>ul{
    text-align:center;
}

.banner>.q9>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q9>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q9>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q9>.right>.box>ul{
    text-align:center;
}

.banner>.q9>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 0px;
}
/* #endregion */

/* #region 10 */
.banner>.q10{
    list-style: none;
    width: 100%;
    height: 450px;
    background-color: #2B2B2B;
    margin-top: 40px;
    border-radius: 25px 25px 25px 25px;
}

.banner>.q10>.left{
    float: left;
    height: 450px;
    width: 80px;
}

.banner>.q10>.left>ul>li{
    list-style: none;
    font-size: 30px;
    line-height: 450px;
    color: white;
    margin-left: 5px;
}

.banner>.q10>.mid{
    float: left;
    height: 450px;
    width: 304px;
    margin-left: 17px;
}

.banner>.q10>.mid>ul>li{
    float: left;
    list-style: none;
    height: 450px;
    width: 304px;
}

.banner>.q10>.mid>ul>li:nth-of-type(1){
    background: url(../images/box_10.png);
}

.banner>.q10>.right{
    float: left;
    height: 450px;
    width: 860px;
    margin-left: 40px;
}

.banner>.q10>.right>.title{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q10>.right>.title>ul{
    text-align:center;
}

.banner>.q10>.right>.title>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FFFFFF;
    display:inline;
}

.banner>.q10>.right>.case{
    height: 250px;
    width: 300px;
    font-size: 20px;
    color: white;
    
}

.banner>.q10>.right>.box{
    width: 600px;
    height: 90px;
    margin: 0 auto;
}

.banner>.q10>.right>.box>ul{
    text-align:center;
}

.banner>.q10>.right>.box>ul>li{
    list-style: none;
    font-size: 55px;
    line-height: 90px;
    color: #FF9400;
    margin-top: 20px;
}
/* #endregion */


/* #endregion */

/* #region 底部 */
.bottom{
    margin-top: 120px;
    width: 100%;
    height: 170px;
    background-color: #3B3B3B;
}

.bottom>ul{
    margin-right: 100px;
}

.bottom>ul li:nth-child(1){
    height: 200px;
    width: 96px;
    float: left;
    list-style: none;
    margin-top: -60px;
    transform: translate(1220px);
}

.bottom>ul li:nth-child(2){
    height: 200px;
    width: 95px;
    float: left;
    list-style: none;
    margin-top: -60px;
    transform: translate(1250px);
}

.bottom>ul>li:nth-of-type(1){
    background: url(../images/bottomfirst_1.png);
}

.bottom>ul>li:nth-of-type(2){
    background: url(../images/bottomfirst_2.png);
}

/* #endregion */