/* #region 清除默认边距 */
*{
    margin: 0;
    padding: 0;
}
/* #endregion */

/* #region 网页背景*/
body{
    background-color: #3b3b3b;
}
/* #endregion */

/* #region 语言条部分 */

/* 语言部分样式 */
.language{
    width: 100%;
    height: 36px;
    background-color: #1E1E1E;
}

/* 登录 注册 */
.language>ulp{
    float: left;
    margin-left: 20px;
    width: auto;
    height: 30px; 
}

.language>ulp>li{
    float: left;
    list-style: none;
    font-size: 20px;
    color: white;
    line-height: 35px;
    margin-left: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.language>ulp li:nth-child(2){
    transform: translate(10px);
}

.language>ulp>li>a:nth-of-type(1):hover{
    color:#F5C518;
}

.language>ulp>li>a:nth-of-type(2):hover{
    color:#F5C518;
}


/* 语言下的li标签 */

.language>ul{
    float: right;
    margin-right: 10px;
}

.language>ul>li{
    width: 30px;
    height: 30px;
    /* background-color: aquamarine; */
    float: right;
    margin-right: 25px;
    list-style:none;
    margin-top: 3px;
}

/* .language>ul>li:nth-of-type(1){
    background: url(../images/tradition_chinese.png);
} */

.language>ul>li:nth-of-type(1):hover{
    background: url(../images/tradition_chinese_hover.png);
}

/* .language>ul>li:nth-of-type(2){
    background: url(../images/simplified_chinese.png);
} */

.language>ul>li:nth-of-type(2):hover{
    background: url(../images/simplified_chinese_hover.png);
}
/* #endregion */

/* #region 导航条 */
/* 导航条样式 */
.nav{
    width: 100%;
    height: 75px;
    background-color:#F5C518;
}

/* 清楚a标签默认样式 */

a{
    text-decoration: none;
    color: white;
}

/* 导航条部分 */

.nav>ulp{
    margin-left: 1000px;
    
}

.nav>ulp>li{
    width: 36px;
    height: 75px;
    float: left;
    list-style: none;
    margin-left: 40px;
    margin-top: 0px;

}

.nav>ulp>li:nth-of-type(1){
    background: url(../images/first1.png);
}

.nav>ulp>li:nth-of-type(2){
    background: url(../images/first2.png);
}

.nav>ulp li:nth-child(2){
    transform: translate(-20px);
}

.nav>ul{
    margin-left: 500px;
}

.nav>ul>li{
    height: 75px;
    padding: 0 50px;
    float: left;
    list-style: none;
}

.nav>ul>li>a{
    color: #000000;
    line-height: 35px;
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.nav>ul li:nth-child(1){
    transform: translate(-260px);
}

.nav>ul>li>a:nth-of-type(1):hover{
    color:#FFFFF9;
}

.nav>ul li:nth-child(2){
    transform: translate(-145px);
}

.nav>ul>li>a:nth-of-type(2):hover{
    color:#FFFFF9;
}

.nav>ul li:nth-child(3){
    transform: translate(-30px);
}

.nav>ul>li>a:nth-of-type(3):hover{
    color:#FFFFF9;
}

/* #endregion */


/* #region 登录版心 */
.log{
    width: 60%;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #2B2B2B;
    border-radius: 25px 25px 25px 25px;
}

.log>.top{
    margin: 0 auto;
    width: 100%;
    height: 100px;
}

.log>.top>ul>li{
    list-style: none;
    text-align:center;
    line-height: 100px;
    font-size: 40px;
    letter-spacing: 3px;
    color: white;

}

.log>.userName{
    width: 100%;
    height: 80px;
    margin-top: 30px;
    line-height: 80px;
}

.log>.userName>span{
    text-align:center;
    margin-left: 350px;
    font-size: 20px;
    color: white;
}

.log>.password{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.log>.password>span{
    text-align:center;
    margin-left: 366px;
    font-size: 20px;
    color: white;
}

.log>.logbtn{
    width: 100%;
    height: 50px;
    margin-left: 465px; 
}


.log>.regbtn{
    width: 100%;
    height: 50px;
}

.log>.regbtn>a{
    line-height: 50px;
    margin-left: 465px;
}


/* #endregion */

/* #region 底部 */
.bottom{
    margin-top: 0px;
    width: 100%;
    height: 250px;
    background-color: #3B3B3B;
    margin-top: 40px;
}

.bottom>ul{
    margin-right: 100px;
}

.bottom>ul li:nth-child(1){
    height: 200px;
    width: 96px;
    float: left;
    list-style: none;
    transform: translate(1170px);
}

.bottom>ul li:nth-child(2){
    height: 200px;
    width: 95px;
    float: left;
    list-style: none;
    transform: translate(1200px);
}

.bottom>ul>li:nth-of-type(1){
    background: url(../images/bottomfirst_1.png);
}

.bottom>ul>li:nth-of-type(2){
    background: url(../images/bottomfirst_2.png);
}
/* #endregion */

